* {
  box-sizing: border-box;
}

:root {
  --bg-clr: #27374D;
  --scnd-clr: #526D82;
  --thrd-clr: #9DB2BF;
  --last-clr: #DDE6ED;
}

body {
  margin: 0;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Lora', serif;
  background-color: var(--scnd-clr);
  color: var(--last-clr);
}

a {
  font-size: 1.5rem;
  user-select: none;
}

p {
  font-size: 2rem;
  margin: 0;
}

header {
  font-size: 4rem;
  width: 100%;
  background-color: var(--bg-clr);
  text-align: center;
  padding: 1rem;  
  text-shadow: 3px 3px 3px var(--scnd-clr);
}

button {
  margin-bottom: 6rem;
  padding: 0.8rem;
  width: 15rem;
  font-size: 2rem;
  border: none;
  border-radius: 30px;
  background-color: var(--bg-clr);
  color: var(--last-clr);
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.75);
  cursor: pointer;
  font-family: 'Lora', serif;;
}

button:hover {
  background-color: #3c4e67;
}

img {
  width: 100%;
  height: 100%;
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(37, 119, 154));
}

dialog {
  gap: 1rem;
  border: 0;
  border-radius: 1rem;
}

dialog p {
  text-align: center;
}

dialog button {
  margin: 0;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.main {
  display: flex;
  margin: auto;
  gap: 8rem;
}

.boardContainerPlayer,
.boardContainerBot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 2rem;
}


.playerBoard,
.botBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.randomize {
  cursor: pointer;
  text-decoration: underline;
}

.cell,
.ship {
  width: 48px;
  height: 48px;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.75);
}

.cell {
  border: 1px solid var(--thrd-clr);
}

.player.ship {
  border: 1px solid var(--last-clr);
  background-color: var(--thrd-clr);
}
